.message-box {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--sm-spacing-medium) 0 0;
  position: sticky;
  width: 100%;

  border-top: 1px solid var(--sm-c-gray-200, black);

  &__input {
    display: flex;
    flex: 1;
    gap: var(--sm-spacing-medium);
    max-width: var(--max-layouts-width);

    >textarea {
      flex: 1;
      resize: none;

      border-radius: var(--sm-spacing-xsmall);
      border-color: var(--sm-c-gray-200, black);
    }
  }
}