.animated-list {
  $animatedlist: &;

  @include create-animation($name: 'appear-teams-item',
    $from: translateX(50%),
    $to: translateX(-50%),
    $duration: .4s,
  );

  overflow: hidden;

  &__row {
    padding: var(--sm-spacing-small);
    border: 1px solid var(--sm-c-gray-100);

    +#{$animatedlist}__row {
      margin-top: var(--sm-spacing-small)
    }
  }
}