.animated-list {
  $animatedlist: &;
  border: 1px solid var(--sm-c-gray-100);

  @include create-animation($name: 'appear-list-item',
    $from: translateX(50%),
    $to: translateX(-50%),
    $duration: .4s,
    $duration-out: 0s,
  );

  overflow: hidden;

  &__title {
    @include text--app;

    padding: var(--sm-spacing-small);

    background: var(--sm-c-blue-500);
    color: var(--sm-c-white);

    +#{$animatedlist}__table {
      margin-top: var(--sm-spacing-small);
    }
  }

  &__row {
    padding: var(--sm-spacing-small);
    border-bottom: 1px solid var(--sm-c-gray-100);

    +#{$animatedlist}__row {
      margin-top: var(--sm-spacing-small)
    }
  }

  &__error {
    display: flex;
    justify-content: center;

    color: var(--sm-c-red-200);
  }
}