.twitter-layout {
  $mainpage: &;

  display: flex;
  flex: 2;
  flex-direction: column;
  gap: var(--sm-spacing-medium);
  max-width: var(--max-layouts-width);
  overflow: hidden;

  background: var(--sm-c-white);
  border: 1px solid var(--sm-c-gray-200);
  border-radius: var(--sm-spacing-xsmall);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

  @include breakpoint('tablet-pt') {
    flex-direction: row;
  }

  >* {
    padding: var(--sm-spacing-small, 4);
  }

  &__users {
    display: flex;
    flex: 0 0 40%;
    flex-direction: row;
    gap: var(--sm-spacing-medium);

    @include breakpoint('tablet-ld') {
      flex: 0 0 30%;
    }

    @include breakpoint('tablet-pt') {
      flex: 1;
      flex-direction: column;
    }

    >* {
      flex: 1;

      @include breakpoint('tablet-pt') {
        flex: 0 0 auto
      }
    }
  }

  &__timeline {
    flex: 2;
    overflow: auto;
  }
}