.user-detail {
  $userdetail: &;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--sm-spacing-small, 0);

  transition: background 2s var(--sm-ease-out, linear);

  &--is-new {
    background: var(--sm-c-yellow-200, black);
  }

  &__author,
  &__message {
    @include text--small;
  }

  &__author {
    align-items: center;
    display: flex;
    line-height: normal;


    >* {
      &:is(strong) {
        align-items: center;
        display: flex;

        &::before {
          height: var(--sm-spacing-small, 4);
          margin-right: var(--sm-spacing-xsmall, 4);
          width: var(--sm-spacing-small, 4);

          background: var(--sm-c-yellow-200, black);
          border-radius: 50%;
          content: '';

          transform: translateY(-1px);

          #{$userdetail}--is-new & {
            background: var(--sm-c-white, white);
          }
        }
      }

      &:is(button) {
        display: flex;
        flex-direction: column;
        position: relative;

        cursor: pointer;

        &[data-selected] {
          &:after {
            background: var(--sm-c-yellow-300, black);
            width: 110%;
          }
        }

        &:after {
          bottom: 0;
          height: 1px;
          left: 50%;
          position: absolute;
          width: 60%;

          background: var(--sm-c-gray-200, black);
          content: '';

          transform: translateX(-50%);
          transition: color .6s linear, width .6s var(--sm-ease-out, linear);
        }
      }
    }

    +#{$userdetail}__time {
      text-align: right;
    }

    ~#{$userdetail}__message {
      margin-top: var(--sm-spacing-medium, 0);
    }
  }

  &__time {
    @include text--mini;
    color: var(--sm-c-gray-300, black);

    #{$userdetail}--is-new & {
      color: white;
    }

  }

  &__message {
    flex: 0 0 100%;
    color: var(--sm-c-gray-400, black);

    #{$userdetail}--is-new & {
      color: white;
    }
  }

  &--is-owner {
    @include text--mini;

    margin-left: var(--sm-spacing-xsmall, 4);
    padding: 0 var(--sm-spacing-xsmall, 4);

    background: var(--sm-c-red-200, black);
    border-radius: var(--sm-spacing-xsmall, 4);
    color: var(--sm-c-white, white);
  }
}