.user-detail {
  $userdetail: &;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--sm-spacing-small, 0);

  transition: background 2s var(--sm-ease-out, linear);

  &--is-new {
    background: var(--sm-c-blue-100, black);
  }

  &__author,
  &__message {
    @include text--small;
  }

  &__author {
    align-items: center;
    display: flex;
    line-height: normal;


    >* {
      &:is(strong) {
        padding: var(--sm-spacing-xsmall, 0) var(--sm-spacing-small, 0);

        background: var(--sm-c-blue-300, black);
        border-radius: var(--sm-spacing-xsmall, 0);
        color: var(--sm-c-white, white);
      }

      &:is(button) {
        display: flex;
        flex-direction: column;
        position: relative;

        cursor: pointer;

        &[data-selected] {
          &:after {
            background: var(--sm-c-yellow-300, black);
            width: 110%;
          }
        }

        &:after {
          bottom: 0;
          height: 1px;
          left: 50%;
          position: absolute;
          width: 60%;

          background: var(--sm-c-gray-200, black);
          content: '';

          transform: translateX(-50%);
          transition: color .6s linear, width .6s var(--sm-ease-out, linear);
        }
      }
    }

    +#{$userdetail}__time {
      text-align: right;
    }

    ~#{$userdetail}__message {
      margin-top: var(--sm-spacing-medium, 0);
    }
  }

  &__time {
    @include text--mini;
    color: var(--sm-c-gray-300, black)
  }

  &__message {
    flex: 0 0 100%;
    color: var(--sm-c-gray-400, black);
  }
}