.user-detail {
  $userdetail: &;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__author,
  &__message {
    @include text--small;
  }

  &__author {
    align-items: center;
    display: flex;
    line-height: normal;
    padding: var(--sm-spacing-xsmall) var(--sm-spacing-small);

    background: var(--sm-c-blue-300);
    border-radius: var(--sm-spacing-xsmall);
    color: var(--sm-c-white, white);

    +#{$userdetail}__time {
      text-align: right;
    }

    ~#{$userdetail}__message {
      margin-top: var(--sm-spacing-medium);
    }
  }

  &__time {
    @include text--mini;
    color: var(--sm-c-gray-300, black)
  }

  &__message {
    flex: 0 0 100%;
    color: var(--sm-c-gray-400, black)
  }
}